<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "file:///C:/dev/workspace/finalmeta/backend/hiapp/src/main/resources/mybatis-3-mapper.dtd">

<mapper namespace="com.hifive.bururung.domain.carshare.participant.repository.ServiceRegistrationRepository">
	
	<!-- 1. 현재 이용 가능한 공유 차량 목록 -->
	<select id="findAvailableCarShareList" resultType="com.hifive.bururung.domain.carshare.participant.dto.AvailableCarShareListResponse">
		SELECT DISTINCT csr.car_share_regi_id, m.nickname, csr.latitude_pl, csr.longitude_pl, csr.latitude_ds, csr.longitude_ds, TO_CHAR(csr.pickup_date, 'YYYY-MM-DD HH24:MI:SS') AS pickup_date
		FROM CAR_SHARE_REGISTRATION csr
    		LEFT JOIN CAR_SHARE_JOIN csj
        		ON csr.car_share_regi_id = csj.car_share_regi_id
    		RIGHT JOIN MEMBER m
        		ON csr.member_id = m.member_id
		WHERE csr.pickup_date > LOCALTIMESTAMP
    		AND csr.passengers_num > (
                                SELECT COUNT(*)
                                FROM CAR_SHARE_JOIN csj2
                                WHERE csj2.CAR_SHARE_REGI_ID = csr.CAR_SHARE_REGI_ID
		)
	</select>
</mapper>