<configuration>
    <!-- UTF-8 인코딩 설정 -->
    <property name="ENCODING" value="UTF-8" />
    <property name="LOG_DIR" value="logs" />
    <property name="MAX_FILE_SIZE" value="10MB" />
    <property name="MAX_HISTORY" value="30" />
    
    <!-- 콘솔에 로그 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        	<charset>${ENCODING}</charset> <!--인코딩 설정-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- DEBUG 로그를 루트 디렉토리에 저장 -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/debug-hifiveapp-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
		    
		<!-- AOP INFO 로그를 별도 파일에 저장 (S3 업로드용) -->
		<appender name="AOP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
		        <fileNamePattern>${LOG_DIR}/aop-logs-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
		        <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
		        <maxHistory>${MAX_HISTORY}</maxHistory>
		    </rollingPolicy>
		    <encoder>
		        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%logger{36}] - %msg%n</pattern>
		    </encoder>
		</appender>


    <!-- 로그 레벨 설정 -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- DEBUG 로그만 별도로 저장 -->
    <logger name="com.hifive" level="debug" additivity="false">
        <appender-ref ref="DEBUG_FILE" />
    </logger>

    <!-- AOP 관련 INFO 로그를 별도 저장 (S3 업로드용) -->
    <logger name="com.hifive.bururung.global.common.LogAspect" level="info" additivity="false">
        <appender-ref ref="AOP_FILE" />
    </logger>
</configuration>