<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.hifive.bururung.domain.taxi.repository.ITaxiShareJoinRepository">
	<select id="getJoinCountByTaxiShareId" resultType="int">
		select
		count(member_id) AS CNT
		from taxi_share_join
		where taxi_share_id =
		#{param1}
		group by taxi_share_id
	</select>

	<insert id="insertTaxiShareJoin"
		parameterType="com.hifive.bururung.domain.taxi.dto.TaxiShareJoinRequest">
		INSERT INTO TAXI_SHARE_JOIN (
		TAXI_SHARE_ID, MEMBER_ID
		)
		VALUES (#{taxiShareId}, #{memberId})
	</insert>

	<delete id="deleteTaxiShareJoinById">
		DELETE FROM TAXI_SHARE_JOIN WHERE TSJ_ID = #{param1}
	</delete>

	<delete id="deleteTaxiShareJoinByTaxiShareId">
		DELETE FROM TAXI_SHARE_JOIN WHERE TAXI_SHARE_ID = #{param1}
	</delete>
	
	<select id="getDuplCntByTaxiShareIdAndMemberId" resultType="int"
		parameterType="com.hifive.bururung.domain.taxi.dto.TaxiShareJoinRequest">
		select count(*)
		from taxi_share_join
		where taxi_share_id =
		#{taxiShareId} and member_id = #{memberId}
	</select>

	<select id="getMemberIdByTaxiShareId">
		select member_id as "memberId", taxi_share_id as "taxi_share_id"
		from taxi_share_join
		where taxi_share_id = #{param1}
	</select>
</mapper>