<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.hifive.bururung.domain.taxi.repository.ITaxiShareRepository">
	<!-- 전체 택시쉐어 리스트 조회 -->
	<select id="findAll"
		resultType="com.hifive.bururung.domain.taxi.entity.TaxiShare">
		select TAXI_SHARE_ID as "taxiShareId",
		MEMBER_ID as
		"memberId",
		PASSENGERS_NUM as "passengersNum",
		PICKUP_LOCATION as
		"pickupLocation",
		LATITUDE_PL as "latitudePL",
		LONGITUDE_PL as
		"longitudePL",
		PICKUP_TIME as "pickupTime",
		STATUS as "status",
		CREATED_DATE as "createdDate",
		DESTINATION as "destination",
		LATITUDE_DS as "latitudeDS",
		LONGITUDE_DS as "longitudeDS",
		OPENCHAT_LINK as "openchatLink",
		OPENCHAT_CODE as "openchatCode",
		ESTIMATED_AMOUNT as "estimatedAmount",
		time_nego as "timeNego",
		from
		TAXI_SHARE
	</select>

	<insert id="insertTaxiShare"
		parameterType="com.hifive.bururung.domain.taxi.entity.TaxiShare">
		INSERT INTO TAXI_SHARE (
		MEMBER_ID, PASSENGERS_NUM,
		PICKUP_LOCATION,
		LATITUDE_PL, LONGITUDE_PL, PICKUP_TIME, DESTINATION,
		LATITUDE_DS, LONGITUDE_DS, OPENCHAT_LINK, OPENCHAT_CODE,
		ESTIMATED_AMOUNT,
		TIME_NEGO
		) VALUES (
		#{memberId}, #{passengersNum},
		#{pickupLocation},
		#{latitudePL}, #{longitudePL}, #{pickupTime},
		#{destination},
		#{latitudeDS}, #{longitudeDS},
		#{openchatLink},
		#{openchatCode},
		#{estimatedAmount}, #{timeNego}
		)
	</insert>

	<select id="getTaxiShareByPickupTime"
		resultType="com.hifive.bururung.domain.taxi.dto.TaxiShareResponse">
		select TAXI_SHARE_ID as "taxiShareId",
		MEMBER_ID as
		"memberId",
		PASSENGERS_NUM as "passengersNum",
		PICKUP_LOCATION as
		"pickupLocation",
		LATITUDE_PL as "latitudePL",
		LONGITUDE_PL as
		"longitudePL",
		PICKUP_TIME as "pickupTime",
		STATUS as "status",
		CREATED_DATE as "createdDate",
		DESTINATION as "destination",
		LATITUDE_DS as "latitudeDS",
		LONGITUDE_DS as "longitudeDS",
		OPENCHAT_LINK as "openchatLink",
		OPENCHAT_CODE as "openchatCode",
		ESTIMATED_AMOUNT as "estimatedAmount",
		time_nego as "timeNego",
		TO_CHAR(PICKUP_TIME, 'HH24:MI') AS "pickupTimeOnly",
		nvl((select count(member_id)
		from taxi_share_join tsj
		where
		ts.taxi_share_id = tsj.taxi_share_id
		group by taxi_share_id ),0)
		as
		"currentPassengerNum",
		(select nickname from member m where
		ts.member_id = m.member_id) as
		"memberNickname",
		(select image_url from
		member m where ts.member_id = m.member_id) as
		"memberImageUrl"
		from
		TAXI_SHARE ts
		where trunc(PICKUP_TIME) = #{param1}
		order by status desc
	</select>

	<select id="getTaxiShareById"
		resultType="com.hifive.bururung.domain.taxi.dto.TaxiShareResponse">
		select TAXI_SHARE_ID as "taxiShareId",
		MEMBER_ID as
		"memberId",
		PASSENGERS_NUM as "passengersNum",
		PICKUP_LOCATION as
		"pickupLocation",
		LATITUDE_PL as "latitudePL",
		LONGITUDE_PL as
		"longitudePL",
		PICKUP_TIME as "pickupTime",
		STATUS as "status",
		CREATED_DATE as "createdDate",
		DESTINATION as "destination",
		LATITUDE_DS as "latitudeDS",
		LONGITUDE_DS as "longitudeDS",
		OPENCHAT_LINK as "openchatLink",
		OPENCHAT_CODE as "openchatCode",
		ESTIMATED_AMOUNT as "estimatedAmount",
		time_nego as "timeNego",
		TO_CHAR(PICKUP_TIME, 'HH24:MI') AS "pickupTimeOnly",
		nvl((select count(member_id)
		from taxi_share_join tsj
		where
		ts.taxi_share_id = tsj.taxi_share_id
		group by taxi_share_id ),0)
		as
		"currentPassengerNum",
		(select nickname from member m where
		ts.member_id = m.member_id) as
		"memberNickname",
		(select image_url from
		member m where ts.member_id = m.member_id) as
		"memberImageUrl"
		from
		TAXI_SHARE ts
		WHERE
		TAXI_SHARE_ID = #{param1}
		order by status desc
	</select>

	<!-- 택시 공유 신청하려고 할때 그 멤버가 개설한 방인지 확인 -->
	<select id="getCountTaxsiShareByIdAndMemberId" parameterType="com.hifive.bururung.domain.taxi.dto.TaxiShareJoinRequest">
		select count(*)
		from taxi_share
		where taxi_share_id=#{taxiShareId} and member_id = #{memberId}
	</select>
	
	<delete id="deleteTaxiShare" parameterType="com.hifive.bururung.domain.taxi.dto.TaxiShareJoinRequest">
		delete from taxi_share
		where taxi_share_id=#{taxiShareId} and memberId=#{memberId}
	</delete>
</mapper>